.container{
  /* border:1px solid; */
  margin:50px auto;
  max-width: 450px;
}
.container > h4{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
ul li{
  list-style-type:decimal;
  margin: 10px;
  padding: 10px;
  background: rgb(240, 240, 240);
  border-radius: 10px;
}
li h4, li p{
  margin: 0 !important;
}
.todo-form{
  margin: 10px;
  padding: 5px;
  border: 1px solid teal;
  background: rgb(245, 245, 245);
  border-radius: 15px;
}
input{
  width: 80%;
  padding: 10px;
  margin: 5px auto;
  border-radius: 5px;
  display: block;
}
.buttons{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
}
.add, .update, .delete, .toggle{
  padding: 10px;
  margin-right: 2px;
  color: #ddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add{
  background: green;
  margin-right: 15px !important;
}
.update{
  background: teal;
}
.toggle{
  background: blue;
}
.delete{
  background:#ff0000;
}
li.completed{
  background: green;
}
li> p .completed{
  text-decoration:underline;
}
.message{
  text-align: center;
  font-size: 1.2em;
  color: #36a936;
}